<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ phpunit.xml
  ~
  ~ @lastModification 02.09.2019, 19:32
  ~ @author Rafał Tadaszak <r.tadaszak@soit.pl>
  ~ @copyright soIT.pl 2018 - 2020
  ~ @url http://www.soit.pl
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../../../vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/_output/html/"/>
        <log type="coverage-clover" target="./tests/_output/coverage.xml"/>
    </logging>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
